<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body class="container ">

<div class="background1">
<div class="form1 card "  >
    <div class="heading">
        ADD DATA
    </div>
    <div class="data" name="frm" novalidate>
        <div class="form-group">
            <label for="Conference" class="col-10 col-form-label">Conference</label>
            <div class="col-10">
                <input class="form-control input-lg"  placeholder="Conference Paper" id="Conference" name="conference" ng-model="formdata.Conference" >
            </div>

        </div>

        <div class="form-group ">
            <label for="title" class="col-10 col-form-label">Paper/Session/Topic/Title </label>
            <div class="col-10">
                <input class="form-control input-lg" placeholder="Title" id="title" name="title"  ng-model="formdata.Title">
            </div>
        </div>

        <div class="form-group ">
            <label for="year" class="col-10 col-form-label">Year</label>
            <div class="col-10">
                <input class="form-control input-lg"  placeholder="Year" id="year" name="year" ng-model="formdata.Year" >
            </div>
        </div>

        <div class="form-group ">
            <label for="session" class="col-10 col-form-label">Session/Category</label>
            <div class="col-10">
                <input class="form-control input-lg"  placeholder="Session/Category" id="session" name="session" ng-model="formdata.session">

            </div>
        </div>

        <div class="form-group ">
            <label for="session" class="col-10 col-form-label">Institution</label>
            <div class="col-10">
                <input class="form-control input-lg" placeholder="Institution" id="institution" name="institution" ng-model="formdata.Institution">
            </div>
        </div>



        <div class="form-group ">
            <label for="sel1" class="col-10 col-form-label">Country</label>
            <div class="col-10">
                <select class="form-control" id="sel1" tabindex="7" ng-model="formdata.country">
                    <option ng-repeat="x in country" >{{x}}</option>
                </select>
            </div>
        </div>

        <div class="form-group ">
            <button type="button" class="submitbtn col-10 btn btn-lg btn-success" ng-click="formsubmit()">Submit Data</button>
        </div>

    </div>
</div>
</div>
</body>
<!
</html>