<!DOCTYPE html>
<html lang="en">
<head>
    <title>KNOW PLACES</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="newpage.css">

</head>
<body>
<div class="row" >
    <div class="col-lg-12 ">
        <div class="background" >
            <div class="intro">
                <h1 id="intro">HCI </h1>
                <h3>Data Visualization</h3>
                <a ui-sref="home.homepage" class="btn btn-block " type="button" id="start" >vizualize</a>
            </div>
        </div>

    </div>
</div>

<footer>

