<!DOCTYPE html>
<html lang="en">
<head>
    <title>form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:300' rel='stylesheet' type='text/css'>
    <style>
        input.ng-invalid.ng-dirty{
            border:1px solid red;
            color: #F97C7C;
        }
        button.ng-disabled{
            background-color:#9CBF9C ;
        }
        label.label-group>span{
            color: red;
        }
    </style>

</head>
<body>
<div class="form-background">
    <form name="frm " >

        <h1>Log In</h1>

        <fieldset>


            <label class="label-group">Username:
                <input type="text"  ng-model="formdata.userName" >
                <!--<span ng-show="frm.email.$touched && frm.email.$error.required"> Required!</span>-->
                <!--<span ng-show="frm.email.$dirty && frm.email.$error.email">Not an email!!</span>-->
            </label>

            <label class="label-group">Password:
                <input type="password" name="password" placeholder="password" ng-model="formdata.password" required ng-maxlength="16" ng-minlength="8">
                <span ng-show="frm.password.$dirty && frm.password.$error.required"></span>
                <span ng-show="frm.password.$dirty && frm.password.$error.minlength">Too short</span>
                <span ng-show="frm.password.$dirty && frm.password.$error.maxlength">Too long</span>
            </label>
        </fieldset>

        <button class="submitbtn "  ng-click="checkForm() " >Login</button>

    </form>
</div>


<script src="http://code.angularjs.org/1.2.3/angular.min.js"></script>
</body>
</html>