
<body class="container">
<div class="background2">

    <div class="form1 card "  >
        <div class="heading">
            LOG IN
        </div>
        <div class="data" name="frm" >

            <div class="form-group ">
                <label for="username" class="col-10 col-form-label">USERNAME</label>
                <div class="col-10">
                    <input  class="form-control input-lg" placeholder="Username" id="username" name="username"  ng-model="formdata.userName">
                </div>
            </div>



            <div class="form-group ">
                <label for="password" class="col-10 col-form-label">Password</label>
                <div class="col-10">
                    <input type="password" style="height: 50px;border: 1px solid #ccc; border-radius: 4px;" class="form-control input-lg" placeholder="******" id="password" name="password"  ng-model="formdata.password">
                </div>
            </div>

            <div class="form-group ">
                <button type="button" ng-click="checkForm()" class=" col-10 btn btn-lg btn-success">Login</button>
            </div>

        </div>
    </div>
</div>
</body>
