<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/css/dc.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">


    <script>


    </script>
</head>

<body >

<div style="position: fixed;z-index: 1000">

    <div class="card" style="width: 10rem;">
        <div class="card-block">
            <h4 class="card-title">Charts</h4>

            <a ng-click="scrollFunc(0)" class="btn btn-success">Go to chart</a>
        </div>
    </div>

    <div class="card " style="width: 10rem; margin-top: 30px">
        <div class="card-block">
            <h4 class="card-title">Table</h4>
            <a ng-click="scrollFunc(1)"  class="btn btn-success">Go to table</a>
        </div>
    </div>

</div>
<div class="viewdata" style="font-family: 'Comfortaa', cursive;">
    <div class="card" style="text-align: center;z-index: 100">
        <h4>Hover & click on any of the charts to filter</h4>
    </div>

    <div ng-show="showLoader">

        <div id="loader"></div>
    </div>
    <div class="container"  ng-hide="showLoader">
        <div class="row " id="chart123">
            <div class="col-sm-6 " >
                <div class="card" >
                    <div class="card-block" id="test" >
                        <strong >By year</strong><a  class="reset" href='javascript:dc.filterAll();dc.redrawAll();' style="display: none;">  Reset</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" >
                <div class="card" >
                    <div class="card-block" id="test1" >
                        <strong>By conference</strong><a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'>  Reset</a>
                `   </div>
                </div>
            </div>
        </div>

        <div class="row " >
            <div class="col-sm-12" >
                <div class="card graph">
                    <div class="card-block" id="test2">

                        <select id ="val">
                            <option value=10 selected="selected">10</option>
                            <option value=20 >20</option>

                            <option value=30>30</option>
                            <option value=40>40</option>
                        </select>
                        <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'>reset</a>
                    </div>
                    Number of papers per session
                </div>
            </div>
        </div>

        <div class="row graph1">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-block" id="test3">
                        <strong>Bar Graph</strong><a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'> Reset</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row table1" id="table123">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-block">
                        <table class="table table-hover dc-data-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
