<!DOCTYPE html>
<html lang="en">
<head>

    <title>Tit</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #dddddd;
        }

    </style>
</head>
<body>

<div style="padding-top: 200px;font-size: 2em; font-family: 'Comfortaa', cursive;margin-left: 400px" id="mover">
    <h2 id="titlesearch">Search Title here</h2>
    <input style="height: 50px;width:300px;border: 1px solid #ccc; border-radius: 4px;" class="input-lg" ng-model="searchdata.data" placeholder="Title" id="inputid">
    <button class="btn btn-lg btn-success" ng-click="search()">Search</button>
    <button class="btn btn-lg btn-warning" id="button" ng-click="deletefun(deleter)" ng-if="deleter.length > 0">delete </button>
</div>

<table style="position: relative;font-family: 'Comfortaa', cursive; margin-top: 0px" ng-show="tableshow">
    <tr>
        <th>Title</th>
        <th>Conference</th>
        <th>Country</th>
        <th>Year</th>
        <th>Institution</th>
        <th>Category</th>
    </tr>
    <tr ng-repeat="data in alldatas" >



        <td>  <input style="height: auto; box-shadow: none; " type="checkbox" checklist-model="deleter" checklist-value="data._id"  >{{data.Title}}  </td>
        <td>{{data.Conference}}</td>
        <td>{{data.country}}</td>
        <td>{{data.Year}}</td>
        <td>{{data.Institution}}</td>
        <td>{{data.Category}}</td>

    </tr>
</table>

</body>
</html>