<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/css/dc.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css">


    <script>


    </script>
</head>

<body >
<div style="position: fixed;z-index: 100">
    <a ng-click="scrollFunc(0)"  >
    <div class="col-sm-6 " style="margin-left: 10px; margin-top: 10px">
        <div class="card" >
            <div class="card-block chart1"  >
            chart
            </div>
        </div>
    </div>
    </a>
    <a ng-click="scrollFunc(1)" >
        <div class="col-sm-6 " style="position: relative;top: 50px;left: 10px; height: auto;">
            <div class="card" >
                <div class="card-block chart2"  >
                    table
                </div>
            </div>
        </div>
    </a>
<!--<button ng-click="scrollFunc(0)" class="btn btn-primary btn-lg" style="margin-left: 10px; margin-top: 10px" >Chart</button>-->
<!--<button ng-click="scrollFunc(1)" class="btn btn-success " >Table</button>-->
</div>
<div class="viewdata">
    <div ng-show="showLoader">

        <div id="loader"></div>
    </div>
    <div class="container"  ng-hide="showLoader">

        <div class="row" id="chart123">
            <div class="col-sm-6 " >
                <div class="card" >
                    <div class="card-block" id="test" >
                        <strong >By year</strong><a  class="reset" href='javascript:dc.filterAll();dc.redrawAll();' style="display: none;">  Reset</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6" >
                <div class="card" >
                    <div class="card-block" id="test1" >
                        <strong>By conference</strong><a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'>  Reset</a>
                `   </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-sm-12" >
                <div class="card graph">
                    <div class="card-block" id="test2">

                        <select id ="val">
                            <option value=10 selected="selected">10</option>
                            <option value=20 >20</option>

                            <option value=30>30</option>
                            <option value=40>40</option>
                        </select>
                        <a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'>reset</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row graph1">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-block" id="test3">
                        <strong>Bar Graph</strong><a class='reset' href='javascript:dc.filterAll();dc.redrawAll();' style='display: none;'> Reset</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row table1" id="table123">
            <div class="col-sm-12">
                <div class="card ">
                    <div class="card-block">
                        <table class="table table-hover dc-data-table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>